<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layout/head :: fragment-head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav class="m-10 bg-gray-400 rounded-[20px]" th:fragment="fragment-navbar">
    <ul class="flex justify-start space-x-4">
        <li class="">
            <a class="" aria-current="page" href="/"><span class="material-symbols-outlined">
                     home
                    </span></a>
        </li>
        <li class="nav-item">
            <a class="rounded-lg px-3 py-2 text-slate-700 font-medium hover:bg-slate-100 hover:text-slate-900" href="/vlog">글 읽기</a>
        </li>
        <li sec:authorize="isAuthenticated()" class="nav-item">
            <a class="rounded-lg px-3 py-2 text-slate-700 font-medium hover:bg-slate-100 hover:text-slate-900" href="/write">글 쓰기</a>
        </li>
        <li sec:authorize="isAnonymous()" class="nav-item">
            <a class="rounded-lg px-3 py-2 text-slate-700 font-medium hover:bg-slate-100 hover:text-slate-900" href="/login">로그인</a>
        </li>
        <li sec:authorize="isAuthenticated()" class="nav-item">
            <a class="rounded-lg px-3 py-2 text-slate-700 font-medium hover:bg-slate-100 hover:text-slate-900" href="/logout">로그아웃</a>
        </li>
        <li sec:authorize="isAnonymous()" class="nav-item">
            <a class="rounded-lg px-3 py-2 text-slate-700 font-medium hover:bg-slate-100 hover:text-slate-900" href="/join">회원가입</a>
        </li>
        <li sec:authorize="isAuthenticated()" class="nav-item">
            <a class="rounded-lg px-3 py-2 text-slate-700 font-medium hover:bg-slate-100 hover:text-slate-900" href="#">내 정보</a>
        </li>
    </ul>
</nav>



</body>
</html>