<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layout/head :: fragment-head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{layout/header :: fragment-navbar}"></div>
<div class="flex justify-center align-center  h-full w-screen">
    <img src="../../static/image/404err.jpg" alt="404">
</div>

<footer class="flex justify-center object-bottom">
    <a href="https://kr.freepik.com/free-vector/oops-404-error-with-a-broken-robot-concept-illustration_13315300.htm#query=404%20error%20page&position=0&from_view=keyword&track=ais">작가 storyset</a> 출처 Freepik
</footer>
</body>
</html>


