<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/head :: fragment-head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{layout/header :: fragment-navbar}"></div>
<form class="m-auto flex justify-center h-1/2" action="/write" method="post"
      th:object="${writeFormData}">
    <fieldset class="border border-black flex justify-center flex-col w-1/2 h-auto bg-gray-200" >
        <legend>글쓰기</legend>
        <div th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>
        <div class>
            <label class="mx-4" for="subject" >제목</label>
            <input th:field="*{subject}" class="border border-black w-1/2 h-12 m-2" placeholder="제목을 입력하시오">
            <div class="border-warning" th:errors="*{subject}">
                제목 오류
            </div>

            <div class="mb-3 ">
                <label class="mx-4" for="tag" >태그</label>
                <input th:field="*{tag}" class="border border-black w-1/2 h-12 m-2" placeholder="태그">
                <div class="border-warning" th:errors="*{tag}">
                    태그 오류
                </div>
            </div>
        </div>
        <div class="mb-3 ">
            <label class="mx-4" for="username" >이름</label>
            <input th:field="*{username}" class="border border-black w-1/2 h-12 m-2" placeholder="이름을 입력하시오">
            <div class="border-warning" th:errors="*{username}">
                이름 오류
            </div>
        </div>
        <div class="mb-3 ">
            <label class="mx-4" for="content" >내용</label>
            <textarea th:field="*{content}" class="border border-black w-1/2  m-2" placeholder="내용을 입력하시오">
        </textarea>
            <div class="border-warning" th:errors="*{content}">
                내용 오류
            </div>
        </div>
        <div class="flex justify-center">
            <button type="submit" class="p-4 hover:text-white hover:bg-black border rounded-[10px] mb-2">Submit</button>
        </div>

    </fieldset>
</form>
</body>
</html>